@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

:root {
  --primary-color: #467680;
  --secondary-color: #4ffbdf;
}

body {
  margin: auto;
  padding: 0%;
  font-family: "Quicksand";
}
div.header-container {
  margin: 0%;
  padding: 1px;
  width: 100%;
  display: inline-block;
  height: 23%;
  display: flex;
  flex-direction: row;
  color: #cd3f2c;
  text-align: center;
  background: #4ffbdf;
}
div.header-container img {
  width: 10%;
  height: 100%;
  float: left;
  max-width: 100%;
  flex: 5;
  max-height: inherit;
}
.header-container h1 {
  margin: 0;

  font-size: 2.4rem;
}
.header-container h4 {
  margin-top: 10px;
  font-size: 1.5rem;
  font-family: "Poppins";
}
.header-container header h3,
h1 {
  margin: 1rem;
  padding: 1px;
  font-size: 2rem;
}
#menu {
  background: #467680;
  color: #fff;
  height: 45px;
  padding-left: 18px;
}
#menu ul,
#menu li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#menu ul li:hover {
  animation-name: changecolor;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#menu ul {
  width: 100%;
}
#menu li {
  float: left;
  display: inline;
  position: relative;
}
#menu a {
  display: block;
  line-height: 45px;
  padding: 0 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
#menu a.dropdown-arrow:after {
  content: "\25BE";
  margin-left: 5px;
}
#menu li a:hover {
  animation-name: changecolor;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  color: #cd3f2c;
  background: #4ffbdf;
}
#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
#menu label {
  display: none;
  line-height: 45px;
  text-align: center;
  position: absolute;
  left: 35px;
}
#menu label:before {
  font-size: 1.6em;
  content: "\2261";
  margin-left: 20px;
}
#menu ul.sub-menus {
  height: auto;
  overflow: hidden;
  width: 330px;
  background: #467680;
  position: absolute;
  z-index: 99;
  display: none;
}
#menu ul #services_dropdown {
  width: 200px;
}
#menu ul.sub-menus li {
  display: block;
  width: 100%;
}
#menu ul.sub-menus a {
  color: #ffffff;
  font-size: 16px;
}
#menu li:hover ul.sub-menus {
  display: block;
}
#menu ul.sub-menus a:hover {
  background: #4ffbdf;
  color: #cd3f2c;
  border-bottom: 1px solid #cd3f2c;
}
@media screen and (max-width: 800px) {
  #menu {
    position: relative;
  }
  #menu ul {
    background: #111;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
  }
  #menu ul.sub-menus {
    width: 100%;
    position: static;
  }
  #menu ul.sub-menus a {
    padding-left: 30px;
  }
  #menu li {
    display: block;
    float: none;
    width: auto;
  }
  #menu input,
  #menu label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  #menu input {
    z-index: 4;
  }
  #menu input:checked + label {
    color: white;
  }
  #menu input:checked + label:before {
    content: "\00d7";
  }
  #menu input:checked ~ ul {
    display: block;
  }
}
form.results-container fieldset legend {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bolder;
}
form.results-container fieldset {
  margin: 20px 0 0 30px;
  width: 70%;
  border: 2px solid var(--primary-color);
  justify-content: baseline;
}
form.results-container fieldset label {
  margin-top: 100px;
  font-size: large;
  color: var(--primary-color);
}
form.results-container fieldset input[type="text"] {
  padding: 10px;
  margin: 5px 0 8px 8px;
  border-radius: 5px;
}
